body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
}
.home {
  display: flex; 
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

.formArea{
  width: 400px;
}

.padding{
  padding: 0px 30px;
}

.form{
  padding:30px!important;
}
a {
  color: #00B7FF;
}
.log{
  padding-right: 20px!important;
}
.page2-center{
  display: flex; 
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}